<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" />
  <script src="index.js" async></script>
  <title><%= appName %></title>
</head>

<body>
  <main>
    <div class="sticky-container">
      <nav>
        <div class="logo"><%= appName %></div>
        <div class="nav-btns-container">
          <a href="/log-out" class="log-out-btn">Log out</a>
          <span class="new-folder-btn" onclick="openCreateFolderModal(true)">New folder</span>
          <form action="/save-file/?f=root" method="post" enctype="multipart/form-data">
            <label class="upload-btn" for="file-input">Upload file</label>
            <input type="file" id="file-input" name="user-file" onchange="form.submit()">
          </form>
        </div>
      </nav>
      <div class="head row">
        <span>Name</span>
        <span>Modified</span>
        <span>File size</span>
        <span></span>
      </div>
    </div>
    <article>
      <% if (folders.length) { %>
      <% folders.forEach(folder => { %>
      <% if (folder.name !== "root") { %>
      <div class="folder row">
        <span class="name-cell">
          <span>📁</span>
          <a href="/folder/?f=<%= folder.name %>">
            <span><%= folder.name %></span>
          </a>
        </span>
        <span><%= folder.updatedAt.toLocaleDateString() %></span>
        <span>—</span>
        <span class="options-cell">
          <span class="row-options-btn" onclick="openRowOptionsModal(event)">⋯</span>
          <div class="row-options-modal">
            <div>Delete</div>
            <div>Share</div>
            <div>Rename</div>
          </div>
        </span>
      </div>
      <%  } %>
      <% }); %>
      <% } %>
      <% if (files.length) { %>
      <% files.forEach(file => { %>
      <div class="file row">
        <span class="name-cell">
          <span>📄</span>
          <span><%= file.fileData.originalname %></span>
        </span>
        <span><%= file.updatedAt.toLocaleDateString() %></span>
        <span><%= byteSize(file.fileData.size) %></span>
        <span class="options-cell">
          <span class="row-options-btn" onclick="openRowOptionsModal(event)">⋯</span>
          <div class="row-options-modal">
            <div>Delete</div>
            <div>Share</div>
            <div>Rename</div>
          </div>
        </span>
      </div>
      <% }); %>
      <% } %>
    </article>
  </main>
  <article id="create-folder-modal">
    <form action="/create-folder" method="post">
      <h2>Create new folder</h2>
      <input type="text" name="folderName" placeholder="Enter folder name" required>
      <button type="submit">Create</button>
    </form>
    <button type="button" title="Close" onclick="openCreateFolderModal(false)">X</button>
  </article>
</body>

</html>